{% extends 'base.html' %}
{% load static %}
{% load forms_error %}
{% block title %}Смена email{% endblock %}
{% block head %}<link href="{% static 'css/registration/email_change.css' %}" rel="stylesheet">{% endblock %}
{% block bodyHeader %}{% endblock %}
{% block main %}
<div class="middle">
    <div class="wrapper">
        <div class="left_side">
            <img src="{% static 'img/girl.png' %}">
        </div>
        <div class="right_side">
            <p><b class="title_form">Изменение email</b></p>
            {% if form.errors %}
            <p class="error_form">{{ form|show_error }}</p>
            {% endif %}
            <form method="POST" class="auth_form" novalidate>
                {% csrf_token %}
                <input class="auth_form_input" placeholder="Пароль" type="password" name="password1" autocomplete="password" required="" id="id_password1">
                <input class="auth_form_input" placeholder="Новый email" type="email" name="new_email1" maxlength="320" required="" id="id_new_email1">
                <input class="auth_form_input" placeholder="Подтверждение email" type="email" name="new_email2" maxlength="320" required="" id="id_new_email2">
                <input class="buttons" type="submit" value="Изменить почту" />
            </form>
        </div>
    </div>
</div>
{% endblock %}