{% extends 'base.html' %}
{% load static %}
{% block title %}Профиль{%endblock%}
{% block head %}
    <link href="{% static 'css/registration/profile.css' %}" rel="stylesheet" />
{% endblock %}

{% block main %}
<div class="profile">
    <div class="wrapper">
        <div class="profile_grid">
            <img class="avatar" src="{% static 'img/default_avatar.png' %}">
            <div>
                <div class="username">{{ user.get_username }}</div>
                <hr class="separator">
                <div class="email">Почта: {{ user.email }}</div>
            </div>
        </div>
        <div><a href="{% url 'change_emain' %}">Изменить эл. почту</a></div>
        <div><a href="{% url 'password_change' %}">Сменить пароль</a></div>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Выйти</button>
        </form>
    </div>
</div>
{% endblock %}