{% extends 'base.html' %}
{% load static %}
{% block title %}Профиль{%endblock%}
{% block head %}
    <link href="{% static 'css/registration/profile.css' %}" rel="stylesheet" />
    <script src="{% static 'js/jquery/3.5.1/jquery.min.js' %}"></script>

    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>

    <link href="{% static 'css/cropper/cropper.css' %}" rel="stylesheet" />
    <script src="{% static 'js/cropper/cropper.js' %}"></script>

{% endblock %}
{% block main %}
<div class="progress_bar_modal">
    <div class="progress progress-bar" style="--value: 0%;"></div>
</div>
<div class="profile">
    <div class="wrapper">
        <div class="profile_grid">
            <label class="avatar_label" data-title="Изменить аватар">
                <img class="avatar" id="avatar" src="{% if user.profile.portrait %}{{user.profile.portrait.url}}{% else %}{% static 'img/default_avatar.png' %}{% endif %}">
                <input type="file" class="sr-only" id="input" name="image" accept="image/*">
            </label>
            <div>
                <div class="username">{{ user.get_username }}</div>
                <hr class="separator">
                <div class="email">Почта: {{ user.email }}</div>
            </div>
        </div>
        <div><a class="change_email_button" href="{% url 'change_emain' %}">Изменить эл. почту</a></div>
        <div><a class="change_pass_button" href="{% url 'password_change' %}">Сменить пароль</a></div>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="exit_button" type="submit">Выйти</button>
        </form>
    </div>
</div>

<div class="container">
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Выбор области</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="img-container">
                        <img id="image" src="{% if user.profile.portrait %}{{user.profile.portrait.url}}{% else %}{% static 'img/default_avatar.png' %}{% endif %}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                    <button type="button" class="btn btn-primary" id="crop">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.addEventListener('DOMContentLoaded', function () {
      var avatar = document.getElementById('avatar');
      var image = document.getElementById('image');
      var input = document.getElementById('input');
      var $progress = $('.progress');
      var $progressBar = $('.progress-bar');
      var $modal = $('#modal');
      var cropper;

      $('[data-toggle="tooltip"]').tooltip();

      input.addEventListener('change', function (e) {
        var files = e.target.files;
        var done = function (url) {
          input.value = '';
          image.src = url;
          $modal.modal('show');
        };
        var reader;
        var file;
        var url;

        if (files && files.length > 0) {
          file = files[0];

          if (URL) {
            done(URL.createObjectURL(file));
          } else if (FileReader) {
            reader = new FileReader();
            reader.onload = function (e) {
              done(reader.result);
            };
            reader.readAsDataURL(file);
          }
        }
      });

      $modal.on('shown.bs.modal', function () {
        cropper = new Cropper(image, {
          aspectRatio: 1,
          viewMode: 3,
        });
      }).on('hidden.bs.modal', function () {
        cropper.destroy();
        cropper = null;
      });

      document.getElementById('crop').addEventListener('click', function () {
        var initialAvatarURL;
        var canvas;

        $modal.modal('hide');

        if (cropper) {
          canvas = cropper.getCroppedCanvas({
            width: 720,
            height: 720,
          });
          initialAvatarURL = avatar.src;
          avatar.src = canvas.toDataURL();
          $progress.show();
          canvas.toBlob(function (blob) {
            var formData = new FormData();

            formData.append('avatar', blob, 'avatar.jpg');
            $.ajax('/accounts/avatar_change/', {
              method: 'POST',
              headers: { 'X-CSRFToken': csrftoken },
              data: formData,
              processData: false,
              contentType: false,

              xhr: function () {
                var xhr = new XMLHttpRequest();

                xhr.upload.onprogress = function (e) {
                  var percent = '0';

                  if (e.lengthComputable) {
                    percent = Math.round((e.loaded / e.total) * 100);
                    $progressBar[0].style.setProperty('--value',percent + "" + "%");
                    $progressBar[0].parentNode.style.display = "flex";
                  }
                };
                return xhr;
              },

              success: function () {
                new Toast({
                  title: false,
                  text: 'Аватар обновлен',
                  theme: 'light',
                  autohide: true,
                  interval: 5000
                });
              },

              error: function () {
                avatar.src = initialAvatarURL;
                new Toast({
                  title: false,
                  text: 'Ошибка загрузки аватара',
                  theme: 'light',
                  autohide: true,
                  interval: 5000
                });
              },
              complete: function () {
                setTimeout(() => {  $progressBar[0].parentNode.style.display = "none"; $progress.hide(); }, 300);
              },
            });
          });
        }
      });
    });
</script>
{% endblock %}