{% extends 'base.html' %}
{% load static %}
{% block title %}Регистрация{%endblock%}
{% block head %}<link href="{% static 'css/registration/signup.css' %}" rel="stylesheet" />{% endblock %}
{% block bodyHeader %}{% endblock %}
{% block main %}
<div class="middle">
    <div class="wrapper">
        <div class="left_side">
            <img src="{% static 'img/girl.png' %}">
        </div>
        <div class="right_side">
            <p><b class="title_form">Регистрация</b></p>
            {% if form.errors %}
            <p class="error_form">{{form.errors}}</p>
            {% endif %}
            <form method="POST" class="auth_form" novalidate>
                {% csrf_token %}
                <input class="auth_form_input" placeholder="Логин" type="text" name="username" maxlength="150" autofocus="" required="" aria-describedby="id_username_helptext" id="id_username">
                <input class="auth_form_input" placeholder="email" type="email" name="email" maxlength="254" id="id_email">
                <input class="auth_form_input" placeholder="Пароль" type="password" name="password1" autocomplete="new-password" id="id_password1">
                <input class="auth_form_input" placeholder="Подтверждение пароля" type="password" name="password2" autocomplete="new-password" aria-describedby="id_password2_helptext" id="id_password2">
                <input class="buttons" type="submit" value="Зарегистрироваться" />
            </form>
        </div>
    </div>
</div>
{% endblock %}