#contentHeader {
	line-height: 74px;
	text-align: center;
	vertical-align: middle;
	font-size: 3.5em;
	width: 100%;
}

#content {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 18px;
}

#innerContent {
	width: 70%;
	min-width: min-content;
}

#moods {
	width: 100%;
	height: 12px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 5%;
	grid-row-gap: 2em;
	margin-top: 20px;
}

@keyframes slideInFromLeft {
  0% {
    transform: scale(1);
  }
  50% {
	  transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.mood {
	border: solid 3px red;
	border-radius: 10px;
	width: calc(100% - 6px);
	height: 83px;
	line-height: 83px;
	text-align: center;
	vertical-align: middle;
	font-size: 1.5em;
	float: left;
	transition: background-color 0.5s ease-out 100ms;
	animation: 1s ease-out 0s 1 slideInFromLeft;
	min-width: max-content;
}

#moods a {
  text-decoration: none;
  color: black;
}

.mood img {
	width: 91px;
	height: 81px;
	float: left;
}

.mood:hover {
	background: red;
}

.row {
	width: 100%;
	min-width: max-content;
	display: inline-block;
}

@media (width <= 1024px) and (orientation: portrait) {
	#moods {
		grid-template-columns: 1fr;
	}
	.mood {
		font-size: 3.5em;
	}
	.mood img {
        left: 0px;
        position: absolute;
	}
	#innerContent {
		width: 100%;
		min-width: min-content;
	}
}

@media (width <= 768px) and (orientation: portrait) {
    #contentHeader {
        line-height: 40px;
    }
}

@media (width <= 480px) and (orientation: portrait) {
    .mood {
        height: 43px;
        line-height: 43px;
        border: solid 1.5px red;
    }
    .mood img {
        width: 46px;
        height: 41px;
        float: left;
    }
}

@media (width <= 320px) and (orientation: portrait) {
    .mood {
        height: 43px;
        line-height: 43px;
    }
    .mood img {
        width: 46px;
        height: 41px;
        float: left;
    }
}

@media (width <= 1024px) and (orientation: landscape) {
	#innerContent {
		width: 100%;
		min-width: min-content;
	}
}

@media (width <= 768px) and (orientation: landscape) {
	#moods {
		grid-template-columns: 1fr 1fr;
	}
    #contentHeader {
        line-height: 40px;
    }
    .mood {
        font-size: 1.8em;
    }
}

@media (width <= 480px) and (orientation: landscape) {
	#moods {
		grid-template-columns: 1fr;
	}
    .mood img {
        left: 0px;
        position: absolute;
    }
    .mood {
        font-size: 2.5em;
    }
}

@media (width <= 320px) and (orientation: landscape) {

}