#content {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 18px;
}

#innerContent {
	width: 50%;
	min-width: min-content;
}

#anime {
	width: 100%;
	display: flex;
	justify-content: center;
}
#innerAnime {
	border-radius: 22px;
	width: 100%;
	display: flex;
	justify-content: center;
	min-width: 730px;
}
.wrapper {
	display: grid;
	margin-left: 10px;
	margin-right: 10px;
	grid-template-columns: 1fr;
	width:100%;
	grid-template-rows: 400px auto auto auto auto 40px;
	grid-row-gap: 10px;
}
.box1 {
	width: 100%;
}
.box1 iframe {
	height: 100%;
	width: 100%;
}
.box2 {
	height: 100%;
	grid-row: 20px;
	font-size: 1.5em;
}
.link_to_anime {
    color: black;
    text-decoration: none;
}
.box3 {
	font-size: 1.3em;
}
.scoreStar {
	width:auto; 
	height:auto;
	background-size:100% 100%;
	white-space: pre;
}

.box4 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 5px;
	font-size: 1.2em;
	grid-row-gap: 5px;
	user-select: none;
}
.box5 {
	font-size: 1.2em;
}

.box6 {
	position: relative;
	display: flex;
    justify-content: center;
}

.buttons {
    width: calc(100% - 6px);
	text-align: center;
	border: solid 3px red;
	border-radius: 10px;
	transition: background-color 0.5s ease-out 100ms;
	font-size: 1.5em;
	cursor: pointer;
	height: 30px;
	line-height: 30px;
	user-select: none;
}

.buttons:hover {
	background: red;
}
.buttons a {
  text-decoration: none;
  color: black;
}
#trailer {
	width: 100%;
	height: 100;
}

#bottoms {
	bottom: 0px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 50%;
	justify-items: center;
	position: fixed;
	background: white;
    min-width: 730px;
}

.genre {
	border-radius: 22px;
	border: solid red 2px;
	font-size: 1.0em;
	color: red;
	padding: 3px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contentGenre {
	flex: 0 0;
}

@media (width <= 1024px) and (orientation: portrait) {
	#innerAnime {
		width: 100%;
	}
	#innerContent {
		width: 100%;
		min-width: min-content;
	}
	.wrapper {
		grid-template-rows: 500px auto auto auto auto 60px;
	}
	.box2 {
		height: 100%;
		grid-row: 50px;
		font-size: 3em;
	}
	.box3 {
		font-size: 2em;
	}
	.box4 {
		grid-template-columns: 1fr 1fr;
		font-size: 2em;
	}
	.box5 {
		font-size: 2.5em;
	}
	#bottoms {
		right: 0px;
		width: 100%;
		min-width: 0px;
	}
	#innerAnime {
		background: white;
	}
    .buttons {
        font-size: 2.5em;
        height: 60px;
        line-height: 60px;
        border: solid 2px red;
    }
}

@media (width <= 768px) and (orientation: portrait) {
	#innerAnime {
		min-width: 0px;
	}
	.wrapper {
		grid-template-rows: 375px auto auto auto auto 60px;
	}
}

@media (width <= 480px) and (orientation: portrait) {
	.wrapper {
		grid-template-rows: 234px auto auto auto auto 60px;
	}
    .genre {
        border: solid red 1px;
    }
}

@media (width <= 320px) and (orientation: portrait) {
	.wrapper {
		grid-template-rows: 156px auto auto auto auto 60px;
	}
}

@media (width <= 1024px) and (orientation: landscape) {
	#innerAnime {
		width: 100%;
	}
	#innerContent {
		width: 100%;
		min-width: min-content;
	}
	.wrapper {
		grid-template-rows: 425px auto auto auto auto 30px;
	}
	.box2 {
		height: 100%;
		grid-row: 50px;
		font-size: 2em;
	}
	.box3 {
		font-size: 1.5em;
	}
	.box4 {
		grid-template-columns: 1fr 1fr 1fr;
		font-size: 1.5em;
	}
	.box5 {
		font-size: 1.5em;
	}
	#bottoms {
		right: 0px;
		width:100%;
		min-width: 0px;
	}
	#innerAnime {
		background: white;
	}
    .buttons {
        font-size: 2em;
        height: 30px;
        line-height: 30px;
        border: solid 2px red;
    }
}

@media (width <= 768px) and (orientation: landscape) {
	.wrapper {
		grid-template-rows: 375px auto auto auto auto 60px;
	}
	#innerAnime {
		min-width: 0px;
	}
}

@media (width <= 480px) and (orientation: landscape) {
	.wrapper {
		grid-template-rows: 234px auto auto auto auto 60px;
	}
}

@media (width <= 320px) and (orientation: landscape) {
	.wrapper {
		grid-template-rows: 156px auto auto auto auto 60px;
	}
}