.pagerLink {
    cursor: pointer;
}

#pager {
    position: absolute;
    transform: translate(-50%);
    margin: 0; padding: 0; /* Убираем все отступы */
    display: inline-block; /* Ограничиваем ширину списка */
    min-width: max-content;
    left: 50%;
}
#pager li {
    display: inline-block;  /* Выстраиваем по горизонтали */
    width: 30px; height: 30px; /* Размеры круга */
    border-radius: 50%; /* Делаем круг */
    background: red; /* Цвет фона */
    line-height: 30px; /* Выравниваем по середине высоты */
    margin-left: 10px; /* Расстояние между номерами */
    font-size: 2em; /* Размер текста */
}
#pager li:first-child {
    margin-left: 0;  /* Для первого числа убираем отступ */
}
#pager a {
    color: #fff; /* Цвет текста */
    text-decoration: none; /* Убираем подчёркивание */
    text-align: center; /* Выравниваем по середине */
    display: block; /* Ссылка занимает весь блок */
}
#pager .active {
    width: 50px; height: 50px; /* Размер текущего номера */
    line-height: 50px; /* Выравниваем по середине высоты */
    background: #fff; /* Цвет фона */
    border: 3px solid red; /* Рамка вокруг */
    font-size: 3em; /* Размер текста */
}
#pager .active a {
    color: #000; /* Цвет текущего номера */
    font-weight: bold; /* Жирное начертание */
}

.blur {
    filter: blur(2px)
}

.animeRow {
    display:flex;
    width:70%;
    height:200px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 5px;
}

.animeRowImg {
    max-width:130px;
}
.animeRowInfo {
    box-sizing: border-box;
    padding: 5px;
}

.animeRowTitle {
    font-size:2em;
    padding: 0px;
    margin:0px;
    color: red;
}

.animeRowName {
    font-size: 2em;
    color: red;
}

.animeRowName a {
    text-decoration: none;
    color: inherit;
}

.animeRowText {
    font-size:1.5em;
}
.animeDescription {
    font-size: 1.5em;
}

#not_found_anime {
    font-size: 2em;
    display: none;
}

#anime_filters {
    padding: 10px;
    position: sticky;
    top: 0px;
    right: 0px;
    float: right;
    width: 30%;
    box-sizing: border-box;
    z-index: 1;
    background: white;
}

#anime_filters_title {
    text-align: center;
    font-size: 1.5em;
    height: 50px;
    line-height: 50px;
}

.thumbs {
    display: grid;
    margin-top: 27px;
}

.range {
    --range-track-top: 40px;

    --tickmarks-w: calc(100% - 18px);
    --option-after-h: 30px;
    --option-after-top: -30px;

    --range-progress-w: calc((var(--value-2) - var(--value-1)) * (100 / (var(--value_max) - var(--value_min))) * 1%);
    --range-progress-left: min(
      calc((var(--value-1) - var(--value_min)) * (100 / (var(--value_max) - var(--value_min))) * 1%),
      calc((var(--value-2) - var(--value_min)) * (100 / (var(--value_max) - var(--value_min))) * 1%)
    );

    position: relative;
    display: grid;
}

.range-output {
    --range-output-left: calc((var(--value) - var(--value_min)) * (100 / (var(--value_max) - var(--value_min))) * 1%);
    --range-output-offset-xy: calc((var(--value) - var(--value_min)) * (100 / (var(--value_max) - var(--value_min))) * -0.95%), 0;
    --range-output-margin: calc(6 / ((var(--value) - var(--value_min)) * (100 / (var(--value_max) - var(--value_min))) + 1) * 1px);
    margin-top: -45px;
}

.range-input {
    width: 100%;
    height: 30px;
    grid-area: 1 / 1;
    border-radius: 10px;
    appearance: none;
    background: none;
    pointer-events: none;
    touch-action: none;
}

.range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 0 5px inset #c56fff;
    transition: 300ms;
    pointer-events: auto;
}

.range-input::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 0 5px inset #c56fff;
    transition: 300ms;
    pointer-events: auto;
}

.range-input:hover::-webkit-slider-thumb,
.range-input:focus-visible::-webkit-slider-thumb {
    box-shadow: 0 0 0 10px inset #c56fff;
}

.range-input:hover::-moz-range-thumb,
.range-input:focus-visible::-moz-range-thumb {
    box-shadow: 0 0 0 10px inset #c56fff;
}

.range-input:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 30px inset #c56fff;
}
.range-input:active::-moz-range-thumb {
    box-shadow: 0 0 0 30px inset #c56fff;
}

.range-input:disabled::-webkit-slider-thumb {
    box-shadow: 0 0 0 30px inset gray;
}
.range-input:disabled::-moz-range-thumb {
    box-shadow: 0 0 0 30px inset gray;
}

.range-input:focus-visible {
    outline-offset: 7px;
    outline: 1px solid #c56fff;
}

.range-input:focus-visible::-webkit-slider-thumb {
    outline: 3px solid #41e847;
}

.range-input:focus-visible::-moz-range-thumb {
    outline: 3px solid #41e847;
}

.track {
    position: absolute;
    top: var(--range-track-top);
    width: 100%;
    height: 8px;
    border-radius: 10px;
    background-color: #ababab;
    z-index: -1;
}

.progress {
    position: absolute;
    top: var(--range-track-top);
    left: var(--range-progress-left);
    width: var(--range-progress-w);
    height: 8px;
    border-radius: 10px;
    background-color: #c56fff;
    z-index: -1;
}

.range-output {
    position: absolute;
    top: 50px;
    left: var(--range-output-left);
    margin-left: var(--range-output-margin);
    display: grid;
    min-width: fit-content;
    padding: 0 4px;
    place-items: center;
    background: transparent;
    border-radius: 10px;
    font-size: 1em;
    text-align: end;
    transform: translate(var(--range-output-offset-xy));
    user-select: none;
    transition: 300ms;
}

.range-input:hover + .range-output,
.range-input:focus-visible + .range-output {
    background-color: #c56fff;
    transition: 0ms;
}

.tickmarks {
    width: var(--tickmarks-w);
    height: 30px;
    padding-inline: 4px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
}

option {
    position: relative;
    padding-top: 10px;
    padding-left: 4px;
    width: 10px;
    font-size: 1em;
}

option::after {
    content: "";
    display: initial;
    position: absolute;
    top: var(--option-after-top);
    left: 10px;
    width: 3px;
    height: var(--option-after-h);
    margin: 0 auto;
    background: #c6c6c6;
    z-index: -1;
}

#filter_button {
    width: 200px;
    margin: 5px;
	text-align: center;
	border: solid 3px red;
	border-radius: 10px;
	transition: background-color 0.5s ease-out 100ms;
	font-size: 1.5em;
	cursor: pointer;
	height: 30px;
	line-height: 30px;
	user-select: none;
	display: none;
}

#filter_button:hover {
	background: red;
}

#close_anime_filter {
    color: #000000;
    font-size: 3em;
    display: none;
    cursor: pointer;
    width: fit-content;
    position: relative;
    right: -92%;
}

@media (width <= 1024px) and (orientation: portrait) {
    #close_anime_filter {
        display: block;
    }
    #filter_button {
        display: block;
    }
    #anime_filters {
        position: fixed;
        display: none;
        height: 100%;
        width: 100%;
    }
    #anime_filters:target {
        display: block;
    }

    .animeRow {
        width:100%;
    }
}

@media (width <= 768px) and (orientation: portrait) {
    .animeRowName {
        font-size: 1.5em;
        color: red;
    }
    .animeRowText {
        font-size:1.3em;
    }
    .animeDescription {
        font-size: 1.3em;
    }
}

@media (width <= 480px) and (orientation: portrait) {
        .animeRow {
            display:flex;
            width:100%;
            height:100px;
            overflow: hidden;
        }
        .animeRowName {
            font-size: 1.9em;
            color: red;
        }
        .animeRowText {
            font-size:1.9em;
        }
        .animeDescription {
            display: none;
        }
}

@media (width <= 320px) and (orientation: portrait) {
        .animeRow {
            display:flex;
            width:100%;
            height:100px;
            overflow: hidden;
        }
        .animeRowName {
            font-size: 1.9em;
            color: red;
        }
        .animeRowText {
            font-size:1.9em;
        }
        .animeDescription {
            display: none;
        }
}

@media (width <= 1024px) and (orientation: landscape) {
    #anime_filters {
        position: fixed;
        display: none;
        height: 100%;
        width: 100%;
    }
    .animeRow {
        width:100%;
    }
}

@media (width <= 768px) and (orientation: landscape) {
        .animeRowName {
            font-size: 1.7em;
            color: red;
        }
        .animeRowText {
            font-size:1.5em;
        }
        .animeDescription {
            font-size: 1.5em;
        }
}

@media (width <= 480px) and (orientation: landscape) {
        .animeDescription {
            display: none;
        }

}

@media (width <= 320px) and (orientation: landscape) {

}