{% extends 'base.html' %}
{% load static %}
{% block title %}Вход{%endblock%}
{% block head %}<link href="{% static 'css/registration/login.css' %}" rel="stylesheet" />{% endblock %}
{% block bodyHeader %}{% endblock %}
{% block main %}
<div class="middle">
    <div class="wrapper">
        <div class="left_side">
            <img src="{% static 'img/girl.png' %}">
        </div>
        <div class="right_side">
            <p><b class="title_form">Аутентификация</b></p>
            {% if form.errors %}
            <p class="error_form">Ваше имя пользователя и пароль не совпадают. Пожалуйста, попробуйте снова.</p>
            {% endif %}
            <form method="post" action="{% url 'login' %}" class="auth_form">
                {% csrf_token %}
                <input class="auth_form_input" placeholder="Логин" type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
                <input class="auth_form_input" placeholder="Пароль" type="password" name="password" autocomplete="current-password" required="" id="id_password">
                <div class="buttons_grid">
                    <input class="buttons" type="submit" value="Войти">
                    <a class="buttons" href="{% url 'signup' %}">Регистрация</a>
                    <a class="buttons" href="{% url 'password_reset' %}">Забыли пароль?</a>
                </div>
                <input type="hidden" name="next" value="{{ next }}">
            </form>
        </div>
    </div>
</div>
{% endblock %}