{% extends 'base.html' %}
{% load static %}
{% block title %}Сброс пароля{% endblock %}
{% block head %}<link href="{% static 'css/registration/password_reset_form.css' %}" rel="stylesheet" />{% endblock %}
{% block bodyHeader %}{% endblock %}
{% block main %}
<div class="middle">
    <div class="wrapper">
        <p>Восстановление пароля</p>
        <form method="post" class="reset_form">
            {% csrf_token %}
            <input placeholder="email" type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
            <input type="submit" value="Отправить">
        </form>
    </div>
</div>
{% endblock %}