Уважаемый пользователь,

Вы получили это сообщение, потому что была сделана попытка восстановить пароль вашего аккаунта. Если вы действительно хотите изменить пароль, пожалуйста, следуйте следующим простым шагам:

Перейдите по ссылке ниже:<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a>
Следуя инструкциям на странице, введите новый надежный пароль.
Сохраните изменения.
Если вы не запрашивали восстановление пароля, проигнорируйте данное письмо. Ваш доступ останется неизменным.

Спасибо!

С уважением, команда поддержки.