{% extends 'base.html' %}
{% load static %}
{% load forms_error %}
{% block title %}Сброс пароля{% endblock %}
{% block head %}<link href="{% static 'css/registration/password_reset_form.css' %}" rel="stylesheet" />{% endblock %}
{% block bodyHeader %}{% endblock %}
{% block main %}
<div class="middle">
    <div class="wrapper">
        <div class="left_side">
            <img src="{% static 'img/girl.png' %}">
        </div>
        <div class="right_side">
            <p><b class="title_form">Восстановление пароля</b></p>
            {% if form.errors %}
            <p class="error_form">Введите верный email</p>
            {% endif %}
            <form method="post" class="auth_form">
                {% csrf_token %}
                <input class="auth_form_input" placeholder="email" type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
                <input class="buttons" type="submit" value="Отправить">
            </form>
        </div>
    </div>
</div>
{% endblock %}