.profile {
    justify-content: center;
    display: flex;
    box-sizing: border-box;
}

.wrapper {
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
}

.profile_grid {
    display: grid;
    grid-template-columns: 200px auto;
}

.avatar {
    width: 200px;
}

.username {
    font-size: 1.5em;
}

.separator {
    border-top: 1px solid red;
    box-sizing: border-box;
}

.email {
    font-size: 1.2em;
}