{% spaceless %}
{% load static %}<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="keywords" content={% block keywords %}"Аниме, Топ аниме, Лучшее аниме, топ 10 аниме"{% endblock %}>
  <meta name="description" content={% block description %}"Найдите идеальное аниме под ваше настроение! Удобный поиск по жанрам, эмоциям и рекомендациям от сообщества любителей."{% endblock %}>
  <title>{% block title %}mood2Anime{% endblock %}</title>
  <link rel="icon" type="image/x-icon" href="{%  static 'favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/toast/toast.min.css' %}">
  <script src="{% static 'js/toast/toast.min.js' %}"></script>
  <script type="text/javascript">var csrftoken='{{ csrf_token }}';</script>
  {% block head %}{% endblock %}
</head>
<body>
  <div id="loaderFullFill">
    <div class="loader"></div>
  </div>
  {% include 'includes/metrics.html' %}
  {% block bodyHeader %}
  <div id="header">
    <div id="innerHeader">
      <div>
        <a href="{% url 'home' %}">&emsp;M2A&emsp;</a>
      </div>
      <div>
        <a href="{% url 'listAnimePage' %}">&emsp;Список&emsp;</a>
        {% if user.is_authenticated %}
        <a href="{% url 'profile' %}">&emsp;Профиль&emsp;</a>
        {% else %}
        <a href="{% url 'login' %}">&emsp;Вход&emsp;</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endblock %}
  {% block main %}{% endblock %}
</body>  
</html>
{% endspaceless %}