{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="keywords" content="Аниме, Топ аниме, Лучшее аниме, топ 10 аниме">
    <title>mood2Anime</title>
    <link href="{% static 'css/index.css' %}" rel="stylesheet" />
    <link rel="icon" href="{%  static 'favicon.ico' %}" type="image/x-icon" />
    <meta name="description" content="Put your description here.">
    <script type="text/javascript"> var csrftoken = '{{ csrf_token }}';</script>
    {% block header %}{% endblock %}
</head>
<body>
    <div id="loaderFullFill">
        <div class="loader"></div>
    </div>
    {% include 'includes/metrics.html' %}
    {% block bodyHeader %}
    <div id="header">
        <div id="innerHeader">
            <a href = "{% url 'home' %}"><img id='leftIMG' src="{% static 'img/header/headerGirl.gif' %}"></a>
            <a href = "{% url 'home' %}">
                <b>
                    {% block headerContent %}Mood2Anime{% endblock %}
                </b>
            </a>
            <a href = "{% url 'home' %}"><img id='rightIMG' src="{% static 'img/header/headerBoy.gif' %}"></a>
        </div>
    </div>
    {% endblock %}
    {% block main %}{% endblock %}
</body>  
</html>