{% extends 'base.html' %}
{% load static %}
{% block head %}
<link href="{% static 'css/animePage.css' %}" rel="stylesheet" />
{% endblock %}


{% block main %}
<div id="animeContent">
    <img id="animeImg" src="/media/{{ anime.portraitImage }}" />
    <div id="animeName"><b>{{anime.name}}</b></div>
    <div id="animeInfo">
        <div class="animeInfoText">Жанры</div>
        <div class="animeInfoText">{% for genre in anime.getGenres %}{{ genre.genreID.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
        <div class="animeInfoText">Год релиза</div>
        <div class="animeInfoText">{{ anime.releaseYear | date:"Y" }}</div>
    </div>
    <div class="animeInfoText">
        {{anime.description}}
    </div>
</div>

{% endblock %}