{% extends 'base.html' %}
{% load static %}
{% block head %}
<link href="{% static 'css/listAnimePage.css' %}" rel="stylesheet" />
<script src="{% static 'js/jquery/3.5.1/jquery.min.js' %}"></script>
{% endblock %}
{% block main %}
<div id="anime_filters">
    <div id="anime_filters_title">
        Фильтр
    </div>
    <div class="range" style="--value-1: {{ anime_filter.date_from }}; --value-2: {{ anime_filter.date_to }}; --value_min: {{ anime_filter.min_date_release }}; --value_max: {{ anime_filter.max_date_release }};">
        <div class="track"></div>
        <div class="progress"></div>
        <div class="thumbs">
            <input
                    class="range-input"
                    id="tailmetr1"
                    type="range"
                    min="{{ anime_filter.min_date_release }}"
                    max="{{ anime_filter.max_date_release }}"
                    value="{{ anime_filter.date_from }}"
                    step="1"
                    aria-valuemin="{{ anime_filter.min_date_release }}"
                    aria-valuemax="{{ anime_filter.max_date_release }}"
                    aria-orientation="horizontal"
                    list="tickmarks"
            >
            <output
                    class="range-output"
                    id="output"
                    for="tailmetr1"
                    style="--value: var(--value-1);"
            >
                {{ anime_filter.date_from }}
            </output>
            <!-- Второй ползунок -->
            <input
                    class="range-input"
                    id="tailmetr2"
                    type="range"
                    min="{{ anime_filter.min_date_release }}"
                    max="{{ anime_filter.max_date_release }}"
                    value="{{ anime_filter.date_to }}"
                    step="1"
                    aria-valuemin="{{ anime_filter.min_date_release }}"
                    aria-valuemax="{{ anime_filter.max_date_release }}"
                    aria-orientation="horizontal"
                    list="tickmarks"
            >
            <!-- Вывод текущего значения для второго ползунка -->
            <output
                    class="range-output"
                    id="output"
                    for="tailmetr2"
                    style="--value: var(--value-2);"
            >
                {{ anime_filter.date_to }}
            </output>
        </div>
        <datalist id="tickmarks" class="tickmarks">
            <option>{{ anime_filter.min_date_release }}</option>
            <option>{{ anime_filter.max_date_release}}</option>
        </datalist>
    </div>

</div>
{% if animes|length == 0 %}
<span id="not_found_anime">Не найдено аниме</span>
{% endif %}
{% for anime in animes %}
<div class="animeRow">
    <img class="animeRowImg" src="media/{{ anime.portraitImage }}">
    <div class="animeRowInfo">
        <div class="animeRowName"><a href="{% url 'animePage' anime.url_name %}">{{ anime.name }}</a></div>
        <br>
        <span class="animeRowText">{{ anime.releaseYear | date:"Y" }}  /  {% for genre in anime.getGenres %}{{ genre.genreID.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</span>
        <p class="animeDescription">{{ anime.description }}</p>
    </div>
</div>
{% endfor %}


<ul {% if animes|length == 0 %}style="display: none;"{% endif %} id="pager"></ul>


<script>
    var maxVisiblePages = 7;
    var pager = document.getElementById("pager");
    var currentPage = {{ currentPage }};
    var maxPages = {{ pages }};
    var halfVisiblePages = Math.floor(maxVisiblePages/2);

    nextPagesCount = maxVisiblePages - halfVisiblePages - (maxPages - currentPage + 1)
    if (nextPagesCount > 0 && (maxPages - currentPage) >= 0){
        halfVisiblePages += nextPagesCount;
    }

    for (let i = currentPage - 1; i > 0 && halfVisiblePages > 0; i--) {
        pager.innerHTML = '<li><a href="?page=' + i + '">'+i+'</a></li>' + pager.innerHTML;
        halfVisiblePages--;
        maxVisiblePages--;
    }

    for (let i = currentPage; i <= maxPages && i < maxVisiblePages + currentPage ; i++) {
        if (i == currentPage ) {
            pager.innerHTML+='<li class="active"><a>'+i+'</a></li>';
        } else {
            pager.innerHTML+='<li><a href="?page=' + i + '">'+i+'</a></li>';
        }
    }


    let animeDescription = document.getElementsByClassName("animeDescription");
    let sizeDescription = 150;
    for (let i = 0; i < animeDescription.length; i++) {
        newsText=animeDescription[i].innerHTML;
        animeDescription[i].innerHTML = newsText.slice(0, sizeDescription) + '...';
    }

      const range1 = document.querySelector('#tailmetr1')
      range1.addEventListener('input', handleInputRange1)
      range1.addEventListener('change', change1)

      const range2 = document.querySelector('#tailmetr2')
      range2.addEventListener('input', handleInputRange2)
      range2.addEventListener('change', change2)

      function change1 () {
           const value1 = event.target.parentNode.parentNode.style.getPropertyValue('--value-1');

            var url = new URL(window.location.href);
            var search_params = url.searchParams;
            search_params.set('date_release_from', value1);
            url.search = search_params.toString();
            var new_url = url.toString();

            window.location.href = new_url;
      }
      function change2 () {
        const value2 = event.target.parentNode.parentNode.style.getPropertyValue('--value-2');
        var url = new URL(window.location.href);
        var search_params = url.searchParams;
        search_params.set('date_release_to', value2);
        url.search = search_params.toString();
        var new_url = url.toString();

        window.location.href = new_url;
      }

      function handleInputRange1() {
        const value2 = event.target.parentNode.parentNode.style.getPropertyValue('--value-2')
        if (parseInt(event.target.value) >= parseInt(value2)) {
          event.target.value = value2
        }
        if (event.target.value === '{{ anime_filter.max_date_release }}') {
          event.target.style.zIndex = '{{ anime_filter.max_date_release }}'
        } else {
          event.target.style.zIndex = '{{ anime_filter.min_date_release }}'
        }
        event.target.parentNode.parentNode.style.setProperty(
          '--value-1',
          event.target.value
        )
        event.target.nextElementSibling.value = event.target.value
      }

      function handleInputRange2() {
        const value1 = event.target.parentNode.parentNode.style.getPropertyValue('--value-1');
        if (parseInt(event.target.value) <= parseInt(value1)) {
          console.log(event.target.value)
          event.target.value = value1
        }
        if (event.target.value === '{{ anime_filter.min_date_release }}') {
          event.target.style.zIndex = '{{ anime_filter.max_date_release }}'
        } else {
          event.target.style.zIndex = '{{ anime_filter.min_date_release }}'
        }
        event.target.parentNode.parentNode.style.setProperty(
          "--value-2",
          event.target.value
        )
        event.target.nextElementSibling.value = event.target.value

      }



</script>
{% endblock %}
