{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/listAnimePage.css' %}">
  <script src="{% static 'js/jquery/3.5.1/jquery.min.js' %}"></script>
  <script src="{% static 'js/anime.js' %}"></script>
  <script>var max_date_release="{{ anime_filter.max_date_release }}"; var min_date_release="{{ anime_filter.min_date_release }}";</script>
{% endblock %}
{% block main %}
<div id="filter_button" class="anime_menu_button anime_menu">Фильтры</div>
<div id="sort_menu" class="anime_menu">
  <div id="sort_button" class="anime_menu_button">
    <span id="sort_name">{% if anime_filter.order_by == 1 %}Дата релиза &#9660;{% elif anime_filter.order_by == 2 %}Дата релиза &#9650;{% elif anime_filter.order_by == 3 %}Рейтинг &#9660;{% elif anime_filter.order_by == 4 %}Рейтинг &#9650;{%else%}Сортировка{% endif %}</span>
  </div>
  <div id="dropdown_sort" class="hide">
    <div onclick="change_sort(this,0)">-----------------</div>
    <div onclick="change_sort(this,1)">Дата релиза &#9660;</div>
    <div onclick="change_sort(this,2)">Дата релиза &#9650;</div>
    <div onclick="change_sort(this,3)">Рейтинг &#9660;</div>
    <div onclick="change_sort(this,4)">Рейтинг &#9650;</div>
  </div>
</div>

<div id="anime_filters">
  <div id="close_anime_filter">&#10006;</div>
  <div id="anime_filters_title">Фильтр</div>
  <div class="range" style="--value-1: {{ anime_filter.date_from }}; --value-2: {{ anime_filter.date_to }}; --value_min: {{ anime_filter.min_date_release }}; --value_max: {{ anime_filter.max_date_release }};">
    <div class="track"></div>
    <div class="progress"></div>
    <div class="thumbs">
      <input class="range-input" id="tailmetr1" type="range" min="{{ anime_filter.min_date_release }}" max="{{ anime_filter.max_date_release }}" value="{{ anime_filter.date_from }}" step="1" aria-valuemin="{{ anime_filter.min_date_release }}" aria-valuemax="{{ anime_filter.max_date_release }}" aria-orientation="horizontal" list="tickmarks">
      <output class="range-output" id="output" for="tailmetr1" style="--value: var(--value-1);">{{ anime_filter.date_from }}</output>
      <input class="range-input" id="tailmetr2" type="range" min="{{ anime_filter.min_date_release }}" max="{{ anime_filter.max_date_release }}" value="{{ anime_filter.date_to }}" step="1" aria-valuemin="{{ anime_filter.min_date_release }}" aria-valuemax="{{ anime_filter.max_date_release }}" aria-orientation="horizontal" list="tickmarks">
      <output class="range-output" id="output" for="tailmetr2" style="--value: var(--value-2); margin-top: 10px;">{{ anime_filter.date_to }}</output>
    </div>
  </div>
  <div id="dropdown_id" class="dropdown">
    <button onclick="show_genres_filter()" class="dropbtn">Жанры</button>
    <div id="myDropdown" class="dropdown-content">
      {% for genre in anime_filter.genres %}
      <div onclick="setGenreFilter(this,{{ genre.id }})" class="dropNoClose">
        <span class="tristate tristate-checkbox dropNoClose">
          <input type="radio" id="item1-state-off" name="{{ genre.id }}" value="0" class="dropNoClose" checked >
          <input type="radio" id="item1-state-null" name="{{ genre.id }}" value="1" class="dropNoClose" {% if genre.id in anime_filter.selected_genres %}checked{% endif %}>
          <input type="radio" id="item1-state-on" name="{{ genre.id }}" value="2" class="dropNoClose" {% if genre.id in anime_filter.selected_genres_and %}checked{% endif %}>
          <i class="dropNoClose"></i>
        </span>
        <div class="dropNoClose checkboxGenresLabel" for="scales">{{genre}}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<span id="not_found_anime">Не найдено аниме</span>
<div id="animeRows"></div>
<ul id="pager"></ul>
{% endblock %}
