{% extends 'base.html' %}
{% load static %}
{% block head %}
<link href="{% static 'css/listAnimePage.css' %}" rel="stylesheet" />
<script src="{% static 'js/jquery/3.5.1/jquery.min.js' %}"></script>
{% endblock %}
{% block main %}
<div id="filter_button">Фильтры</div>
<div id="anime_filters">
    <div id="close_anime_filter">&#10006;</div>
    <div id="anime_filters_title">
        Фильтр
    </div>
    <div class="range" style="--value-1: {{ anime_filter.date_from }}; --value-2: {{ anime_filter.date_to }}; --value_min: {{ anime_filter.min_date_release }}; --value_max: {{ anime_filter.max_date_release }};">
        <div class="track"></div>
        <div class="progress"></div>
        <div class="thumbs">
            <input
                    class="range-input"
                    id="tailmetr1"
                    type="range"
                    min="{{ anime_filter.min_date_release }}"
                    max="{{ anime_filter.max_date_release }}"
                    value="{{ anime_filter.date_from }}"
                    step="1"
                    aria-valuemin="{{ anime_filter.min_date_release }}"
                    aria-valuemax="{{ anime_filter.max_date_release }}"
                    aria-orientation="horizontal"
                    list="tickmarks"
            >
            <output
                    class="range-output"
                    id="output"
                    for="tailmetr1"
                    style="--value: var(--value-1);"
            >
                {{ anime_filter.date_from }}
            </output>
            <!-- Второй ползунок -->
            <input
                    class="range-input"
                    id="tailmetr2"
                    type="range"
                    min="{{ anime_filter.min_date_release }}"
                    max="{{ anime_filter.max_date_release }}"
                    value="{{ anime_filter.date_to }}"
                    step="1"
                    aria-valuemin="{{ anime_filter.min_date_release }}"
                    aria-valuemax="{{ anime_filter.max_date_release }}"
                    aria-orientation="horizontal"
                    list="tickmarks"
            >
            <!-- Вывод текущего значения для второго ползунка -->
            <output
                    class="range-output"
                    id="output"
                    for="tailmetr2"
                    style="--value: var(--value-2);"
            >
                {{ anime_filter.date_to }}
            </output>
        </div>
        <datalist id="tickmarks" class="tickmarks">
            <option>{{ anime_filter.min_date_release }}</option>
            <option>{{ anime_filter.max_date_release}}</option>
        </datalist>
    </div>

</div>

<span id="not_found_anime">Не найдено аниме</span>

<div id="animeRows"></div>

<ul {% if animes|length == 0 %}style="display: none;"{% endif %} id="pager"></ul>


<script>
    document.getElementById("loaderFullFill").style.display = "block";

      const range1 = document.querySelector('#tailmetr1')
      range1.addEventListener('input', handleInputRange1)
      range1.addEventListener('change', change1)

      const range2 = document.querySelector('#tailmetr2')
      range2.addEventListener('input', handleInputRange2)
      range2.addEventListener('change', change2)

      function change1 () {
           const value1 = event.target.parentNode.parentNode.style.getPropertyValue('--value-1');

            var url = new URL(window.location.href);
            var search_params = url.searchParams;
            search_params.set('date_release_from', value1);
            search_params.set('page', 1);
            url.search = search_params.toString();
            var new_url = url.toString();

            window.history.replaceState(null, null, new_url);
            getAnimesByFilters();
      }
      function change2 () {
        const value2 = event.target.parentNode.parentNode.style.getPropertyValue('--value-2');
        var url = new URL(window.location.href);
        var search_params = url.searchParams;
        search_params.set('date_release_to', value2);
        search_params.set('page', 1);
        url.search = search_params.toString();
        var new_url = url.toString();

        window.history.replaceState(null, null, new_url);
        getAnimesByFilters();
      }

      function handleInputRange1() {
        const value2 = event.target.parentNode.parentNode.style.getPropertyValue('--value-2')
        if (parseInt(event.target.value) >= parseInt(value2)) {
          event.target.value = value2
        }
        if (event.target.value === '{{ anime_filter.max_date_release }}') {
          event.target.style.zIndex = '{{ anime_filter.max_date_release }}'
        } else {
          event.target.style.zIndex = '{{ anime_filter.min_date_release }}'
        }
        event.target.parentNode.parentNode.style.setProperty(
          '--value-1',
          event.target.value
        )
        event.target.nextElementSibling.value = event.target.value
      }

      function handleInputRange2() {
        const value1 = event.target.parentNode.parentNode.style.getPropertyValue('--value-1');
        if (parseInt(event.target.value) <= parseInt(value1)) {
          console.log(event.target.value)
          event.target.value = value1
        }
        if (event.target.value === '{{ anime_filter.min_date_release }}') {
          event.target.style.zIndex = '{{ anime_filter.max_date_release }}'
        } else {
          event.target.style.zIndex = '{{ anime_filter.min_date_release }}'
        }
        event.target.parentNode.parentNode.style.setProperty(
          "--value-2",
          event.target.value
        )
        event.target.nextElementSibling.value = event.target.value

      }

    const filter_btn = document.getElementById('filter_button');
    filter_btn.addEventListener('click', show_filters);
    close_anime_filter = document.getElementById('close_anime_filter');
    close_anime_filter.addEventListener('click', close_filters);

    function show_filters() {
        location.hash = '#anime_filters';
    }

    function close_filters() {
        location.hash = '';
    }

    function renderPager(currentPage, maxPages){
        var maxVisiblePages = 7;
        var pager = document.getElementById("pager");
        pager.innerHTML = '';
        var halfVisiblePages = Math.floor(maxVisiblePages/2);
        nextPagesCount = maxVisiblePages - halfVisiblePages - (maxPages - currentPage + 1)
        if (nextPagesCount > 0 && (maxPages - currentPage) >= 0){
            halfVisiblePages += nextPagesCount;
        }

        for (let i = currentPage - 1; i > 0 && halfVisiblePages > 0; i--) {
            pager.innerHTML = '<li><a class="pagerLink" onclick="changePage(' + i + ')">'+i+'</a></li>' + pager.innerHTML;
            halfVisiblePages--;
            maxVisiblePages--;
        }

        for (let i = currentPage; i <= maxPages && i < maxVisiblePages + currentPage ; i++) {
            if (i == currentPage ) {
                pager.innerHTML+='<li class="active"><a>'+i+'</a></li>';
            } else {
                pager.innerHTML+='<li><a class="pagerLink" onclick="changePage(' + i + ')">'+i+'</a></li>';
            }
        }
    }

    function changePage(page){
        var url = new URL(window.location.href);
        var search_params = url.searchParams;
        search_params.set('page', page);
        url.search = search_params.toString();
        var new_url = url.toString();

        window.history.replaceState(null, null, new_url);
        window.scrollTo(0, 0);
        getAnimesByFilters();
    }

    function getAnimesByFilters (){
        document.getElementById('animeRows').classList.add("blur");
        let params = new URLSearchParams(document.location.search);
        $.ajax({
            url: "/getAnimesByFilters",
            headers: { 'X-CSRFToken': csrftoken },
            method: 'post',
            dataType: 'html',
            data: {
                date_release_from: params.get("date_release_from"),
                date_release_to: params.get("date_release_to"),
                page: params.get("page")
            },
            success: function(data){
                var animes = JSON.parse(data).animes;
                let newAnimeRows = document.getElementById('animeRows').cloneNode(true);
                newAnimeRows.classList.remove("blur");
                newAnimeRows.innerHTML = '';
                animes.forEach((anime) => {
                    var animeRow = document.createElement("div");
                    animeRow.classList.add("animeRow");

                    animeRowImg = document.createElement("img");
                    animeRowImg.src = anime.portraitImage;
                    animeRowImg.classList.add("animeRowImg");
                    animeRow.appendChild(animeRowImg);

                    animeRowInfo = document.createElement("div");
                    animeRowInfo.classList.add("animeRowInfo");
                    animeRowName = document.createElement("div");
                    animeRowName.classList.add("animeRowName");
                    animeRowNameLink = document.createElement("a");
                    animeRowNameLink.href="animePage/" + anime.url_name;
                    animeRowNameLink.appendChild(document.createTextNode(anime.name));
                    animeRowName.appendChild(animeRowNameLink);
                    animeRowInfo.appendChild(animeRowName);

                    animeRowText = document.createElement("span");
                    animeRowText.classList.add("animeRowText");
                    var dateRelease = new Date(anime.releaseYear);
                    animeRowText.appendChild(document.createTextNode(dateRelease.getFullYear() + " / " + anime.genre.join(', ')));
                    animeRowInfo.appendChild(document.createElement("br"));
                    animeRowInfo.appendChild(animeRowText);

                    animeDescription = document.createElement("p");
                    animeDescription.classList.add("animeDescription");
                    animeDescription.appendChild(document.createTextNode(anime.description.slice(0, 150) + "..."));
                    animeRowInfo.appendChild(animeDescription);

                    animeRow.appendChild(animeRowInfo);
                    newAnimeRows.appendChild(animeRow);
                });
                if (animes.length == 0) {
                    document.getElementById("not_found_anime").style.display = "block";
                } else {
                    document.getElementById("not_found_anime").style.display = "none";
                }
                let oldNode = document.getElementById('animeRows');
                setTimeout(() => {
                    oldNode.parentElement.replaceChild(newAnimeRows, oldNode);
                    renderPager(JSON.parse(data).page, JSON.parse(data).pages);
                 }, 300);
                 setTimeout(() => {  document.getElementById("loaderFullFill").style.display = "none"; }, 300);
            }
        });
    }

    getAnimesByFilters();
</script>
{% endblock %}
